        *{
            margin: 0;
            padding: 0;
            transition: 600ms;
        }

:root{
     --bg-color: rgb(255 255 255);
    --text-color: #222222;
    --button-bg: rgb(21, 108, 221);
    --button-text: #ffffff;
    --nav-bg : rgba(255, 255, 255, 0.3);
    --p-imageShadow:0px 0px 40px rgb(21, 108, 221, 0.5); 
    --border:#ffffff;
    --contener-shadow: 0 0 5px rgba(0, 0, 0, 0.301);
    --exit: rgb(99, 99, 99);
}

/* dark */
.dark{
    --bg-color: rgb(34, 34, 34);
    --text-color: rgb(255 255 255);
    --button-bg: rgb(21, 108, 221);
    --button-text: #ffffff;
    --nav-bg:rgb(34, 34, 34, 0.3);
    --p-imageShadow:0px 0px 40px rgb(225, 225, 225, 0.5); 
    --border:rgb(21, 108, 221);
    --contener-shadow: 0 0 5px rgba(225, 225, 225, 0.301);
    --exit: rgb(253 253 253 / 57%)
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'poppins', sans-serif;
    
}
html {
  scroll-behavior: smooth;
}
header{
    width: 100%;
    position: fixed;
    top: 0;
    border-bottom: 0.03px solid rgb(21, 108, 221);

}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 58px;
    background-color: var(--nav-bg);
     backdrop-filter: blur(10px); 
     box-shadow: 0px 5px 10px rgba(21, 119, 248, 0.5);
    
}
nav ul {
    display: flex;
}
nav ul li{
    
    list-style: none;
    margin: 0 37px;
    
   
}
nav ul li a{
    text-decoration: none;
    color: var(--text-color);
}
nav ul li a:hover{
    color: rgb(21, 108, 221);
    font-size: 1.02rem;
    
}
.left{
    font-size: 2rem;
}
.btn-mode{
    height: 1.4rem;
    width: 1.4rem;
    cursor: pointer;
}
.nav-option-moblie{
       position: fixed;
    top: 0;
    right: -53%;
    height: 685px;
    width: 50%;

    background-color: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
   border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
   transition: linear,900ms;
}
.nav-option-moblie ul{
    list-style: none;
    margin:4.2rem 20px;
    height: 100%;

}
.nav-option-moblie ul li a{
    text-decoration: none;
    color: var(--text-color);
    font-weight: bolder;
    font-size: 1.23rem;
    transition: linear, 500ms;
}

.hide{
     transform: translateY(-100%);
}
.exit{
    border: none;
    background-color: transparent;
    color: var(--exit);
    font-size: 1.5rem;
    margin: 10px;
    position: absolute;
    right: 0;

}
.nav-option-moblie ul li{
    margin: 1.5rem 0;
}
.nav-option-moblie ul li a:hover{
        color: rgb(21 108 221);
}
.first{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0;
}

.leftsection{
    
    font-size: 2.7rem;
    font-weight: 600;

    
}
.rightsection img{
    width: 80%;
    margin-top: 50px;

   
}
.purple{
    color: rgb(21, 108, 221);
}
#element{
    color: rgb(21, 108, 221);
    font-size: 2rem;
}
.second{
    max-width: 80vw;
    margin: auto;
    height: 80vh
}
.second h1{
    font-size: 1.9rem ;
    display: flex;
    justify-content: center;
}
.second .box{
    background-color: white;
    width: 80vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
  
}
main hr{
   border: 0;
   background-color: rgb(21 108 221);
   height: 1.2px;
   margin: 40px 84px;

}
.text-gray{
    color: gray;
    display: flex;
    justify-content: center;
}
.second .vertical{
    height:93px ;
    width: 1px;
    background-color: white;
    margin: 0 180px;

}
.image-top{
    width: 23px;
    position: relative;
    top: -32px;
    left: -9px;
    
}
.vertical-text{
    position: relative;
    top: 75px;
    width: 200px;
    font-size: 1.2rem;
}
.vertical-desc{
    position: relative;
    top: 86px;
    color: gray;
    width: 200px;
    font-size: 11px;

}
footer{
    background-color: #0c0c1a;
    height: 53px;
    margin-top: 23px;
}
.footer{
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
    
}
.footer li{
    list-style: none;

}

.footer div{
    width:190px ;
}
.footer-rights{
    color: gray;
    text-align: center;
    padding: 12px 0 ;
}
.leftsection .button{
    padding:14px 0 ;
}
.leftsection .btn{
    padding: 20px;
    background-color:var(--button-bg);
    color: white;
    border: 2px,solid, white ;
    border-radius: 3rem;
    font-size: 21px;
    cursor: pointer;
}
.leftsection .btn:hover {
    background-color: white;
    color: rgb(21 108 221);
    border: 2px solid rgb(21 108 221);
    
}
.third{
    display: flex;
    width: 80vw;
   margin: auto;
   justify-content: space-around;
}
.third h1{
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
}
.About{
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(77, 84, 94, 0.5);
    padding: 1rem;
    margin: 20px;
     border:1px solid white;
    
}
.About:hover{
    border: 1px solid rgb(21 108 221);
}
.education{
    width: 30%;
}
.education .graduat{
    width: 72%;
    
   
}


.graduat p{
    
    font-size: 0.78rem;

}
.no-project{
    color: gray;
    margin:10% 0;
    text-align: center;
}
.fourth{
    max-width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;


}
.fourth .form-fill input{
    color: var(--text-color);
  
    border: 3px solid  rgb(21 108 221);
    border-radius: 5px;
    height: 30px;
    width: 90%;
    margin-top: 6px;
    padding: 2px;
    background-color: var(--bg-color);
}
.fourth .form-fill #message{
    color : var(--text-color);
    background-color: var(--bg-color);
    border: 3px solid rgb(21 108 221);
    border-radius: 5px;
    width: 90%;
    margin-top:6px ;
    padding: 2px;
}
.form-info{
    text-align: center;
    font-size: 14px;
}
.form-fill{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.button-submit .btn-submit{
    color: white;
    align-items: center;
    font-size: 20px;
    min-width: 100px;
    background-color: rgb(21 108 221);
    height:40px ;
    border: 3px solid white;
    border-radius: 10px;
}
.button-submit .btn-submit:hover{
    background-color: white;
    border: 2px solid rgb(21 108 221);
    color: rgb(21 108 221);
}
.profile-image{
    height: 100%;
    width: 100%;
   
    border-radius: 50%;
    background-size: cover;
    background-image: url(/Ajeet-s-portfolio/image/profile-image.png);
}
.rightsection{
    height: 355px;
    width: 355px;
    border: 0.5rem solid var(--border);
    border-radius: 50%;
    box-shadow: var(--p-imageShadow);
    
}
.button-submit {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.skill-section{
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    justify-content: space-around;
    margin: auto;
}
.programming{
  
   width: 24rem;
    height: 12rem;
    padding: 1rem;
    margin: 1rem 0 ;
    border-radius: 12px;
    box-shadow: var(--contener-shadow);
}
.skill-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.skills{
    align-content: center;
    width: 9.4rem;
    height: 3rem;
    font-size: 1rem;
    border: 2px solid white;
    margin: 0.5rem;
    border-radius: 12px;
    padding: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.301);
}
.skills:hover{
    border: 2px solid rgb(21 108 221);
}
.skills i{
    background-color: rgba(160, 159, 159, 0.233);
    border-radius: 17px;
    padding: 10px;
    color: rgb(21 108 221);
    margin: 5px;
}
.nav-option{
    display: none;
}

.contact-box{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.socal{
    display: flex;
    flex-direction: column;
    width: 25rem;
    height: 22rem;
    border-radius:  12px;
    padding: 1rem;
    align-items: center;
    justify-content: space-around;
    box-shadow: var(--contener-shadow);
}
.link-box{
    display: flex;
    width: 24rem;
    border: 2px solid white;
    align-items: center;
    margin: 1rem 0;
    border-radius: 17px;
    padding: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.301);
}
.link-box i{
    font-size: 1.3rem;
    margin: 0.5rem;
    color: var(--button-bg);
}
.upper{
    text-transform: uppercase;
    font-size:12px ;
    font-weight: 400;
    color: gray;
}
.lower{
    font-size: 14px ;
    font-weight: 600;
}
.link-box .copy{
    font-size: 1rem;
    padding: 5px;
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    margin-left: 87px;
}
.link-box .copy:hover{
    background-color: #6b6a6a73;
}
form{
    width: 25rem;
}
.over-flow{
    width: 295.95px;
     margin: 0 0.5rem;
}
.socal a{
    text-decoration: none;
    color: var(--text-color);
}

@media screen and (max-width:1000px ) {
     /* body{
        background-color: red;
     } */
      /*nav bar*/
      nav{
        justify-content: space-between;
      }
      .nav-option{
        font-size: 2rem;
        display: inline;
      }
      nav div{
        margin: 0 3rem;
        
       
      }
      .right{
        display: none;
      }
    
     .first{
        flex-direction: column-reverse;
     }
     .second .box {
        flex-direction: column;
     }
     .second .vertical {
    height: unset;
     }
     .vertical-text, .vertical-desc{
        left: 47px;
     }
     .image-top{
        top: 106px;
        left: -11px;
     }
     .leftsection{
        width:100% !important ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
     }
     .rightsection{
       
        display: flex;
        justify-content: center;
     }
     .second {
    display: flex;
    flex-direction: column;

    align-items: center;
        
     }
     .footer{
        padding: 23px 23px;
     }
       
         .third{
            display: flex;
            align-items: center;
            font-size: 1rem;

         }
    .socal{
        margin:1rem;
    }
    .contact-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    }

    .skill-section{
        width: auto;
    }
     /* .rightsection img {
    width: 80%;
    margin-top: -21px;
     } */
   
     }
     
    

   @media screen and (max-width:500px){
    .rightsection {
        width: 18rem;
        height: 18rem;

    }
    .left{
        font-size: 1.5rem;
    }
    .rightsection img{
        margin: 0;
    }
    .second .vertical{
        position: relative;
        right: 120px;
    }
    nav ul li{
        margin-right: 5.25px;
        margin-left: 5.25px;
    }
    nav ul li a{
        font-size: 15px;
    }
   
    .leftsection{
        font-size: 1.8rem;
    }
    #element{
        display: flex;
    }
    
    .socal{
        width: 19rem;
    }
    .socal .link-box{
        width: 100%;
    }
    .socal a{
        width: 100%;
    }
    .over-flow{
        width: 72%;
    }
    .link-box .copy{
        margin-left: 8px;
    }
    
    .lower {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
    .rightsection img{
        width: 80%;
    }
    .first{
        margin-top: 50px;
    }
    .third{
        flex-direction: column;
    }
    .About{
        width: 100%;
    }
    .education .graduat {
    width: 43%;
    margin: 0.5rem;
    }
    .education {
        width: 100%;
        display: flex;
    }

    .skill-section{
        flex-direction: column;
        align-items: center;
    }
    .programming {
        margin: 1rem 0;
    }
    .leftsection  .button{
        padding: 5px 0px;
    }
    .leftsection .btn{
        padding: 5px;
    }
    .footer-rights{
        font-size: 0.9rem;
        
    }
    .footer li{
        font-size: 0.6rem;
        margin-left: 25px;
    }
   
    
    h3{
        font-size: 1rem;
    }
   }
   @media screen and (max-width:425px){
    nav h4{
        font-size: 1.4rem;
    }
    nav div{
        margin: 0 1rem;
    }
   
    .programming {
    width: 19.5rem;
    height: 11rem;
    }
    .skills {
    width: 7.7rem;
        height: 2.6rem;
        font-size: 0.8rem;
    }
    .rightsection {
        width: 14rem;
        height: 14rem;
    }

}
 @media screen and (max-width:380px){
    nav ul li a { 
        font-size: 13px;
    }
    .leftsection{
    font-size: 1.7rem;
    }
    .leftsection .btn{
        padding: 3px;
    }
    .second .vertical{
        right: 160px;
    }
   
    .second h1{
        font-size: 1.8rem;
    }
    
   } 



